<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.ttn.mapping.IDsTMapper" >

    <!--
	*根据区域、起止日期查询日期段内区域及下一级区域的地温数据
	*@param TtnEntity : 参数，（区域ID，起止日期）
	*@return List<TtnVo> : 地温数据
	*@Version <1> 2018-04-28 cxw: Created.
    *-->
    <select id="findT" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity" >
        select data_time as date,t as value,a.region_id as regionId,b.china_name as regionName,b.region_code as regionCode
        from (select region_id ,region_code,china_name from init_region where parent_id =#{regionId} or region_id=#{regionId}) b left join ds_t a
        on a.region_id=b.region_id where a.data_time>=cast(#{startDate} as timestamp ) and cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution}
        order by a.data_time,regionId
    </select>

    <!--
	 *根据区域、起止时间查询时间段内该区域的地温数据
	 *@param param : 包含region_id和startDate和endDate
	 *@return List<TtnVo> ：
	 *@Version <1> 2018-04-28 cxw: Created.
     -->
    <select id="findTByRegion" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
            SUBSTRING
            ( to_char( d.date, 'yyyy-MM-dd' ), 6 ) AS monthAndDay,T.*
        FROM
            (
            SELECT DATE
                ( zz )
            FROM
            generate_series ( CAST ( #{startDate} AS TIMESTAMP ), CAST ( #{endDate} AS TIMESTAMP ), '1 day' ) AS tt ( zz )) d
            LEFT JOIN (
            SELECT
                data_time,
            T AS
            VALUE
                ,
                A.region_id AS regionId,
                b.china_name AS regionName,
                b.region_code AS regionCode
            FROM
                init_region b
                LEFT JOIN ds_t A ON A.region_id = b.region_id
            WHERE
                b.region_id = #{regionId}
                AND A.data_time >= CAST ( #{startDate} AS TIMESTAMP )
                AND CAST ( #{endDate} AS TIMESTAMP ) >= A.data_time
                AND A.publish_status = 2201
            AND A.resolution = #{resolution}
            ) T ON D.DATE = T.data_time
    </select>

    <!--<select id="findTByRegion" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >-->
        <!--select SUBSTRING(to_char(data_time,'yyyy-MM-dd'), 6,6)  as monthAndDay,t as value,a.region_id as regionId,-->
        <!--b.china_name as regionName ,b.region_code as regionCode from init_region b left join ds_t a on a.region_id=b.region_id where b.region_id=#{regionId} and a.data_time>=cast(#{startDate}-->
        <!--as timestamp ) and cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution} order by a.data_time,regionId-->
    <!--</select>-->



    <!--以下地温报告数据查询-->

    <!--
	*根据区域、起止日期查询日期段内下一级区域的地温均值数据
	*@param TtnEntity : 参数，（区域ID，起止日期）
	*@return List<TtnVo> : 地温数据
	*@Version <1> 2018-04-28 cxw: Created.
    -->
    <select id="findTById" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        select (case when avg(t) is null then 0 else avg(t) end) as value,a.region_id as regionId,b.china_name as regionName,b.region_code as regionCode  from (select region_id ,china_name,region_code
        from init_region where  parent_id=#{regionId} or region_id=#{regionId}) b left join ds_t a on a.region_id=b.region_id where a.data_time>=cast(#{startDate} as timestamp ) and
        cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution} group by a.region_id,b.china_name ,b.region_code order by value
    </select>

    <!--
    *根据区域、起止日期查询日期段内区域及的地温数据
    *@param TtnEntity : 参数，（区域ID，起止日期）
    *@return List<TtnVo> : 地温数据
    *@Version <1> 2018-04-28 cxw: Created.
    -->
    <select id="findTForMonById" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        select a.data_time as date,(case when t is null then 0 else t end) as value,a.region_id as regionId,b.china_name as regionName,b.region_code as regionCode from (select region_id ,
        china_name,region_code from init_region where  region_id=#{regionId}) b left join ds_t a on a.region_id=b.region_id where a.data_time>=cast(#{startDate} as timestamp )
        and cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution} order by b.region_id,a.data_time
    </select>

    <!--
    *根据区域、起止日期查询日期段内区域最高地温数据
    *@param TtnEntity : 参数，（区域ID，起止日期）
    *@return List<TtnVo> : 地温数据
    *@Version <1> 2018-04-28 cxw: Created.
    -->
    <select id="findMaxTById" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        select (case when t is null then 0 else t end) as value ,b.region_id,b.china_name as regionName,b.region_code as regionCode,a.data_time as date from (select region_id ,china_name,region_code from
        init_region where region_id =#{regionId}) b left join ds_t a on a.region_id=b.region_id where a.data_time>=cast(#{startDate} as timestamp ) and
        cast(#{endDate} as timestamp ) >=a.data_time and a.publish_status = 2201  and a.resolution=#{resolution} order by value desc
    </select>

    <!--
    *根据区域、起止日期查询日期段内区域的地温数据(区域均值)
    *@param TtnEntity : 参数，（区域ID，起止日期）
    *@return List<TtnVo> : 地温数据
    *@Version <1> 2018-04-28 cxw: Created.
    -->
    <select id="findAvgTById" resultType="java.lang.Double" parameterType="com.jh.ttn.entity.TtnEntity"  >
        select (case when avg(t) is null then 0 else avg(t) end) as value  from ds_t a  where a.data_time>=cast(#{startDate} as timestamp ) and
        cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution} and a.region_id =#{regionId}
    </select>

    <!--
    *根据区域、起止日期查询日期段内下一级区域的地温数据(某天最高地温城市)
    *@param TtnEntity : 参数，（区域ID，起止日期）
    *@return List<TtnVo> : 地温数据
    *@Version <1> 2018-04-28 cxw: Created.
    -->
    <select id="findTMaxByDate" resultType="com.jh.ttn.vo.TtnVo"  parameterType="com.jh.ttn.entity.TtnEntity"  >
        select (case when t is null then 0 else t end) as value,b.region_id as regionId,b.china_name as regionName,b.region_code as regionCode,a.data_time as date from (select region_id ,china_name,region_code
        from init_region where parent_id =#{regionId}) b left join ds_t a on a.region_id=b.region_id where a.data_time>=cast(#{startDate} as timestamp ) and
        cast(#{endDate} as timestamp )>=a.data_time and a.publish_status = 2201 and a.resolution=#{resolution} order by value desc
    </select>


    <!--查询开始和结束日期时间段内有地温数据的所有日期-->
    <select id="findTTimes" resultType="java.lang.String" parameterType="com.jh.ttn.entity.TtnEntity" >
        select to_char(data_time,'yyyy-MM-dd') as date from ds_t where  del_flag='1' and data_status='1' and publish_status = 2201
        <if test="regionId != null" >
            and  region_id = #{regionId}
        </if>
        <if test="resolution != null" >
            and  resolution = #{resolution}
        </if>
        <if test="startDate != null and endDate != null"  >
            and  data_time BETWEEN  #{startDate} and #{endDate}
        </if>
        order by data_time asc
    </select>

    <!--查询开始和结束日期时间段内有地温数据-->
    <select id="findAllT" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity" >
        select DISTINCT region_id as regionId,resolution,to_char(data_time,'yyyy-MM') as dataMonth  from ds_t where  del_flag='1' and data_status='1' and publish_status = 2201 and resolution is not null
        <if test="regionId != null" >
            and  region_id = #{regionId}
        </if>
        <if test="startDate != null and endDate != null"  >
            and  data_time  BETWEEN  #{startDate} and #{endDate}
        </if>

        group by dataMonth, regionId,resolution
        order by regionId,dataMonth desc

    </select>

</mapper>