<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.ttn.mapping.IDsWeatherMapper" >


    <!--根据区域、起止日期查询日期段内区域及下一级区域的天气预报数据-->
    <select id="findWeatherRegionAndBeyond" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
         SELECT
            data_time AS DATE,
            CAST ( max_temp AS FLOAT ) AS MAXVALUE,
            CAST ( min_temp AS FLOAT ) AS MINVALUE,
            region_id AS regionId,
            china_name AS regionName,
            remark AS remark,
            weather AS weather
        FROM
            ds_weather_prediction
        WHERE
            region_id = #{regionId}
            OR parent_id = #{regionId}
        ORDER BY
            data_time,
            regionId
    </select>


    <!--根据区域、起止时间查询时间段内该区域的天气预报数据-->
    <select id="findRegionWeather" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
       SELECT
            data_time AS DATE,
            CAST ( max_temp AS FLOAT ) AS MAXVALUE,
            CAST ( min_temp AS FLOAT ) AS MINVALUE,
            region_id AS regionId,
            china_name AS regionName,
            remark AS remark,
            weather AS weather
        FROM
            ds_weather_prediction
        WHERE
            region_id = #{regionId}
            AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
            AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
            data_time,
            regionId
    </select>

    <!--根据区域、起止日期查询日期段内区域的气温数据-->
    <select id="findWeatherForRank" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        ymd AS DATE,
        CAST ( b_wendu AS FLOAT ) AS MAXVALUE,
        CAST ( y_wendu AS FLOAT ) AS MINVALUE,
        region_id AS regionId,
        area_name AS regionName
        FROM
        ds_weather
        WHERE
        del_flag = '1'AND publish_status = 2201
        AND region_id = #{regionId}
        AND ymd BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        ymd
    </select>

    <!--根据区域、起止日期查询日期段内区域的地温数据-->
    <select id="findTtnForRank" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        data_time AS DATE,
        CAST ( t AS FLOAT ) AS value,
        region_id AS regionId
        FROM
        ds_t
        WHERE
        del_flag = '1'AND publish_status = 2201
        AND region_id = #{regionId}
        AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        data_time
    </select>

    <!--根据区域、起止日期查询日期段内区域的降雨数据-->
    <select id="findTrmmForRank" resultType="com.jh.ttn.vo.TtnVo" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        data_time AS DATE,
        CAST ( trmm AS FLOAT ) AS value,
        region_id AS regionId
        FROM
        ds_t
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        data_time
    </select>

    <!--全年降雨统计-->
    <select id="totalTrmm" resultType="java.math.BigDecimal" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        sum(CAST ( trmm AS FLOAT )) AS value
        FROM
        ds_trmm
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        data_time
    </select>

    <!--日均降雨统计-->
    <select id="avgTrmm" resultType="java.math.BigDecimal" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        avg(CAST ( trmm AS FLOAT )) AS value
        FROM
        ds_trmm
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        data_time
    </select>

    <!--日均地温统计-->
    <select id="avgTtn" resultType="java.math.BigDecimal" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        avg(CAST ( t AS FLOAT )) AS value
        FROM
        ds_t
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND data_time BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        data_time
    </select>

    <!--日均气温统计-->
    <select id="avgWeather" resultType="java.lang.Integer" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        avg((b_wendu+y_wendu)/2 ) AS value
        FROM
        ds_weather
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND ymd BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        ymd
    </select>

    <!--最低气温统计-->
    <select id="maxWeather" resultType="java.lang.Integer" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        CAST ( y_wendu AS FLOAT ) AS value
        FROM
        ds_weather
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND ymd BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        y_wendu asc limit 1
    </select>

    <!--最高气温统计-->
    <select id="maxWeather" resultType="java.lang.Integer" parameterType="com.jh.ttn.entity.TtnEntity"  >
        SELECT
        CAST ( b_wendu AS FLOAT ) AS value
        FROM
        ds_weather
        WHERE
        del_flag = '1' AND publish_status = 2201
        AND region_id = #{regionId}
        AND ymd BETWEEN to_date(#{startDate},'yyyy-MM-dd')
        AND to_date(#{endDate},'yyyy-MM-dd')
        ORDER BY
        b_wendu DESC limit 1
    </select>

</mapper>