<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.layer.mapping.IRegionMapper" >


    <select id="getByRegionId" resultType="java.lang.Long" parameterType="java.lang.Long" >
        select parent_id     from init_region    where region_id = #{regionId,jdbcType=BIGINT}
    </select>

</mapper>