<div id="tr℃Report">
    <!--<p align="center" id="tle" style="font-size: 115%">最新报告</p>-->
    <p id="text">&nbsp;&nbsp;&nbsp;${chinaName!}气温报告：${startDate!}-${endDate!}</p>
    <p id="text1">&nbsp;&nbsp;&nbsp;【气温】：${chinaName!}平均最低气温${avgMinVal!}℃，平均最高气温${avgMaxVal}℃。
        最低气温(${minAreaVal}℃)比上期(${lastDateMinVal!}℃)${addNumText3!}℃，比去年同期 (${lastMinval!}℃)${addNumText1!}℃，比前年同期(${twoYearsMinVal!}℃)${addNumText2!}℃。</p>
        最高气温(${maxAreaVal}℃)比上期(${lastDateMaxVal!}℃)${addNumText30!}℃，比去年同期 (${lastMaxval!}℃)${addNumText10!}℃，比前年同期(${twoYearsMaxVal!}℃)${addNumText20!}℃。</p>
    <p id="text2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${chinaName!}${mdate!}气温最高，达到${maxParentVal!}℃,${mxDate!}${maxArea!}气温最高，达到${maxVal!}℃。</p>
        <p id="text3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${chinaName!}${m2date!}气温最低，为${minParentVal!}℃,${mx2Date!}${minArea!}气温最低，为${minVal!}℃。</p>
</div>