<div id="tr℃Report">
    <!--<p align="center" id="tle" style="font-size: 115%">最新报告</p>-->
    <p id="text">&nbsp;&nbsp;&nbsp;${chinaName!}地温报告：${startDate!}-${endDate!}</p>
    <p id="text1">&nbsp;&nbsp;&nbsp;【日地温】：${chinaName!}累计平均地温${total!}℃，
        比上期(${lastDateVal!}℃)${addNumText3!}℃，比去年同期 (${lastval!}℃)${addNumText1!}℃，比过去10年同期(${tenYearsVal!}℃)${addNumText2!}℃。</p>
    <p id="text2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${chinaName!}各辖区日均地温${minAreaVal!}~${maxAreaVal!}℃,其中${mostArea!}日均地温在${mostval!}℃以上，
        其他大部在${mostval!}℃以下。${chinaName!}${mdate!}地温最高，达到${maxParentVal!}℃,${mxDate!}${maxArea!}地温最高，达到${maxVal!}℃。</p>
</div>