<div id="trmmReport">
    <!--<p align="center" id="tle" style="font-size: 115%">最新报告</p>-->
    <p id="text">&nbsp;&nbsp;&nbsp;${chinaName!}降雨报告：${startDate!}-${endDate!}</p>
    <p id="text1">&nbsp;&nbsp;&nbsp;【降雨量】：${chinaName!}累计降雨量${total!}mm，
        比上期(${lastDateVal!}mm)${addNumText3!}mm，比去年同期 (${lastval!}mm)${addNumText1!}mm，比过去10年同期(${tenYearsVal!}mm)${addNumText2!}mm。</p>
    <p id="text2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${chinaName!}各辖区累计雨量${minAreaVal!}~${maxAreaVal!}mm,其中${mostArea!}降雨量在${mostval!}mm以上，
        其他大部在${mostval!}mm以下。${chinaName!}${mdate!}降雨量最大，达到${maxParentVal!}mm,${mxDate!}${maxArea!}降雨量最大，达到${maxVal!}mm,${levelStr!}。</p>
</div>